In [1]:
import eikon as ek

In [2]:
ek.set_app_key("")

In [10]:
df, err = ek.get_data(
    instruments = "ANTO.L", 
    fields = ['TR.LegalAddressCity','TR.LegalAddressLine1','TR.Employees']
)
display(df)

  Instrument Legal Address City Legal Address Line 1  Full-Time Employees
0     ANTO.L             LONDON     103 Mount Street                 6359

In [11]:
df = ek.get_data('VOD.L',['TR.Revenue(SDate=0,EDate=-9,Period=FS0,Frq=FS).date','TR.Revenue(SDate=0,EDate=-9,Period=FS0,Frq=FS)'])

In [12]:
df

(  Instrument                  Date      Revenue
 0      VOD.L  2023-03-31T00:00:00Z  22776000000
 1      VOD.L  2022-09-30T00:00:00Z  22930000000
 2      VOD.L  2022-03-31T00:00:00Z  23091000000
 3      VOD.L  2021-09-30T00:00:00Z  22489000000
 4      VOD.L  2021-03-31T00:00:00Z  22382000000
 5      VOD.L  2020-09-30T00:00:00Z  21427000000
 6      VOD.L  2020-03-31T00:00:00Z  23035000000
 7      VOD.L  2019-09-30T00:00:00Z  21939000000
 8      VOD.L  2019-03-31T00:00:00Z  21870000000
 9      VOD.L  2018-09-30T00:00:00Z  21848000000,
 None)